<div class="container">
  <div class="row" style="border:1px solid #cecece;">
    <div class="col-sm-4">View my Speeches</div>
    <div class="col-sm-4 border_left">Submit a new Speech</div>
    <div class="col-sm-4 border_left">Search all Speeches</div>
  </div>
  <div class="row"  style="border:1px solid #cecece;margin-top:1em">
    <div class="col-sm-3">
      <app-speeches></app-speeches>
    </div>
    <div class="col-sm-7 col-sm-offset-2 border_left">
      <app-speech></app-speech>
    </div>    
  </div>
</div>
